.about-button {
  display: inline-block;
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff; /* Color del texto */
  border-radius: 5px;
  width: 200px; /* Ancho fijo; ajusta este valor según tus necesidades */
}
