/* Contact.css */

.contact {
  background: rgba(39, 38, 38, 0.304); /* Fondo blanco con opacidad ajustada */
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  }
  
  .contact .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(184, 176, 176, 0.653); /* Azul */

    
  }
  
  .contact-form {
    margin-top: 2rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #153c8c94;
    border-radius: 20px;
    font-size: 1rem;
    color: #0c0c0c;
  }
  
  .textarea {
    margin-top: 1rem;
  font-size: 1.25rem;
  color: #000000; /* Gris más suave */
  }
  


  