/* Estilos para el home */
.home {
  background: rgba(56, 53, 53, 0.8); /* Fondo blanco con opacidad ajustada */
  margin: 20px auto;
  padding: 20px 30px;
  border-radius: 15px;
  max-width: 1200px;
  transition: transform 0.3s ease-in-out;
}

.home:hover {
  transform: scale(1.02); /* Efecto de aumento en la sección */
}

.home .title {
  font-size: 3rem; /* Tamaño reducido para más compatibilidad */
  font-weight: bold;
  text-align: center;
}

.home .highlight {
  color: #611b9a; /* Color de resaltado */
  text-decoration: dashed;
}

.home .description {
  margin-top: 1rem;
  font-size: 1.25rem;
  max-width: 80%;
  text-align: center;
  margin: 1rem auto;
}

.home-buttons {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0;
}

.home-image img {
  width: 50%; /* Imagen se ajusta al ancho del contenedor */
  height: auto; /* Mantiene proporciones */
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  padding-top: 25px;
}

.home-image {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.home-principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; /* Espaciado uniforme entre íconos */
  margin-top: 20px;
}

.icon {
  display: flex; /* Asegura que el contenido interno esté alineado */
  justify-content: center;
  align-items: center;
  width: 3rem; /* Tamaño uniforme */
  height: 3rem;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.icon svg {
  width: 100%; /* Ajusta el SVG al tamaño del contenedor */
  height: auto;
}

.icon:hover {
  transform: scale(1.2); /* Efecto de aumento */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .home-principal {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home-image {
    width: 90%; /* Ajusta imagen en dispositivos medianos */
    margin-bottom: 20px;
  }

  .home .description {
    font-size: 1.1rem;
    max-width: 90%;
  }

  .icons {
    gap: 10px; /* Ajustar espaciado en pantallas pequeñas */
  }

  .icon {
    width: 2.5rem; /* Tamaño más pequeño en pantallas pequeñas */
    height: 2.5rem;
  }
}

@media (max-width: 480px) {
  .home {
    margin: 10px;
    padding: 15px 20px;
  }

  .home .title {
    font-size: 2.5rem; /* Ajuste adicional para pantallas pequeñas */
  }

  .icon {
    width: 2rem; /* Tamaño más pequeño en pantallas muy pequeñas */
    height: 2rem;
  }

  .home .description {
    font-size: 1rem;
  }
}
