/* Projects.css */

.projects {
  background-color: #f9fafb; /* Gris claro */
  padding: 4rem 2rem;
  text-align: center;
  }
  
  .projects .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1d4ed8; /* Azul */
  }
  
  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  border: 1px;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;

  }
  
  .project-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1d4ed8; /* Azul */
  }
  
  .project-description {
    margin-top: 1rem;
    font-size: 1.25rem;
    color: #d1d5db; /* Gris más suave */
  }
  
  .button {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #10b981; /* Verde */
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .button:hover {
    background-color: #059669;
  }
  .section-container {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad ajustada */
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  }
  .project-image{
    width: 100%;
    height: auto;
  }
  