/* Estilo general */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e5e7eb; /* Gris claro para mejor contraste */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

/* Fondo dinámico */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://media.giphy.com/media/kgAzAJl4eUZzO/giphy.gif') center center / cover no-repeat;
  z-index: -1; /* Mantiene el fondo detrás del contenido */
  opacity: 0.7; /* Ajusta la opacidad según sea necesario */
}

/* Animación adicional para un fondo con degradado dinámico */
body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, rgba(29, 78, 216, 0.7), rgba(59, 130, 246, 0.5), rgba(147, 197, 253, 0.5), rgba(219, 234, 254, 0.7));
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  z-index: -2; /* Combina el GIF y el degradado */
}

/* Animación del degradado */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Sección */
.section {

  text-align: center;
  position: relative; /* Asegura que el contenido no sea afectado por el fondo */
  z-index: 1; /* Coloca el contenido encima del fondo */
}

/* Título */
.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #201e1e; /* Blanco para asegurar contraste */
}

/* Descripción */
.description {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #d1d5db; /* Gris más suave */
}

/* Botón */
.button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #1a1a1a8c; /* Verde */
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 1;
}

.button:hover {
  background-color: #232726; /* Verde más oscuro */
}

/* Estilos para las banderas */
.language-switcher {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  text-align: left;
}

.flag-icon {
  width: 250px; /* Tamaño más pequeño de las banderas */
  height: 150px; /* Mantener proporciones */
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 15px;
  margin: 20px 30px 20px 30px;
  box-sizing: border-box;
}

.flag-icon:hover {
  transform: scale(1.1); /* Efecto al pasar el mouse */
}

